body {
    background-image: url(../images/brickwall.png);
    background-color: lightgray;
    color: black;
    font-family: 'Raleway', sans-serif;
   }

.cardImage{
    width: 200px;
    height: 200px;
}

header {
  height: 60px;
}

.brand-logo {
  position: relative;
  bottom: 600px;
  font-size: 35px;
  font-family: "Diplomata SC", cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h5 {
  padding-top: -10px;
}

#footerMargin {
  
  margin-bottom: 0;
}
