body {
    background-image: url(../images/brickwall.png);
    background-color: lightgray;
    color: black;
    font-family: 'Raleway', sans-serif;
   }

.cardImage{
    width: 200px;
    height: 200px;
}

header {
  height: 60px;
}

.brand-logo {
  position: absolute;
  bottom: 550px;
  right: 420px;
  font-size: 45px;
  font-family: "Diplomata SC", cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.brand-logo-icon {
  position: absolute;
  bottom: 350px;
  right: 715px;
  font-size: 90px;
  font-family: "Diplomata SC", cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h5 {
  padding-top: -10px;
}

#footerMargin {
  
  margin-bottom: 0;
}
